################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SaveTranslator/v16
/bin/Release
/obj/Release
